@model List<Courses>
<script src="~/base.js"></script>

    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Ders Id</th>
                    <th>Ders İsmi</th>
                    <th>Ders Kredisi</th>
                    <th>Ders Tipi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Courses courses in Model)
                {
                    <tr>
                        <td>@courses.CourseId</td>
                        <td>@courses.CourseName</td>
                        <td>@courses.CourseCredit</td>
                        <td>@(courses.CourseType == true ? "Zorunlu" : "Seçmeli")</td>
                        <td>
                            <button type="button" class="btn-success tableDetailBtn" data-url="/Course/CourseDetay" data-id="@courses.CourseId">Detay</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>