@model dynamic


<div class="row">
    <div class="col-6">
        <section class="card-header">
            <h3>Seçilecek Dersler</h3>
        </section>
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Öğretmen Adı</th>
                        <th>Dersin Ad</th>
                        <th>Kredisi</th>
                        <th>Dersin Tipi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.AllCourses)
                    {
                        <tr>
                            <td>@course.TeacherName</td>
                            <td>@course.CourseName</td>
                            <td>@course.CourseCredit</td>
                            <td>@(course.CourseType == true ? "Zorunlu" : "Seçmeli")</td>
                            <td>
                                <button type="button" class="btn btn-success">Ekle</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-6">
        <section class="card-header">
            <h3>Seçilmiş Dersler</h3>
        </section>
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Öğretmen Adı</th>
                        <th>Dersin Ad</th>
                        <th>Kredisi</th>
                        <th>Dersin Tipi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.StudentCourses)
                    {
                        <tr>
                            <td>@course.TeacherName</td>
                            <td>@course.CourseName</td>
                            <td>@course.CourseCredit</td>
                            <td>@(course.CourseType == true ? "Zorunlu" : "Seçmeli")</td>
                            <td>
                                <button type="button" class="btn btn-danger">Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>