@model List<Teacher>
<script src="~/base.js"></script>

<div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Email</th>
                <th>Şifre</th>
                <th>Yetki</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Teacher teacher in Model)
            {
                <tr>
                    <td>@teacher.Name</td>
                    <td>@teacher.Surname</td>
                    <td>@teacher.Email</td>
                    <td>@teacher.Password</td>
                    <td>@teacher.Role</td>
                    <td>
                        <button type="button" class="btn btn-success tableDetailBtn" data-url="/Teacher/TeacherDetay" data-id="@teacher.TeacherId">Detay</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
