@model dynamic
<script src="~/base.js"></script>

<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-header">Bilgiler</div>
            <div class="card-body card-block">
                <form action="" method="post" class="">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="name" name="name" placeholder="İsim" class="form-control" value="@Model.TeacherInfo.Name">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="surname" name="surname" placeholder="Soyisim" class="form-control" value="@Model.TeacherInfo.Surname">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" id="email" name="email" placeholder="Email" class="form-control" value="@Model.TeacherInfo.Email">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control" value="@Model.TeacherInfo.Password">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions form-group">
                        <button type="submit" class="btn btn-secondary btn-sm">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Ders Id</th>
                        <th>Ders İsmi</th>
                        <th>Ders Kredisi</th>
                        <th>Ders Tipi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Courses courses in Model.Course)
                    {
                        <tr>
                            <td>@courses.CourseId</td>
                            <td>@courses.CourseName</td>
                            <td>@courses.CourseCredit</td>
                            <td>@(courses.CourseType == true ? "Zorunlu" : "Seçmeli")</td>
                            <td>
                                <button type="button" class="btn btn-success tableDetailBtn" data-url="/Course/CourseDetay" data-id="@courses.CourseId">Detay</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>